.navbar .collapse a
{
	color: #fff;
	padding: 2px 5px;
}

#baricon
{
	font-size: 2rem;
}
.navbar a img
{
	width:16vw; 
	padding: 20px 5px;
}

.navbar .collapse a
{
	color:#fff;
	/*background:#093375; */
	padding: 5px 5px;
}
.navbar .collapse a:hover
{
	color:#fff;
	background:#093375; 
	transition: .4s;
	border-radius: 20px;
}
.navbar-brand2
{
	font-size: 2.4rem;
	font-family:sans-serif;
}
.main h1
{
	font-size: 5rem;
}
.main h1:hover 
{
	font-size: 7rem;
	color: #093375;
	transition: 1s;
}
.main h5:hover
{
	font-size: 2rem;
	color: #093375;
	transition: 1s;
}



.reg
{
	/*background-color:#093375;*/
	background-color: #1f66b8;
	font-size: 1.4rem;
	border-radius: 30px;
	padding: 2px 50px;
}
#carouselExampleIndicators
{
	height: 80vh;
	border-radius: 30px;
}
#carouselExampleIndicators img
{
	height: 80vh;
	border-radius: 30px;
}

.myheading span
{
	 font-family: 'Quicksand', sans-serif; 
	 text-align:center;
	 background:#093375;
	 font-size: 2rem;
	 font-weight: 700;
	 color: #fff;
	 padding: 20px 50px;
	 border-radius: 40px;
}
.myheading span:hover 
{
	padding: 20px 100px;
	transition: .5s;
	font-size: 2.5rem;
	font-weight: 800;
}
.myheading h4:hover,.myheading h5:hover, .myheading h3:hover
{
	font-size: 2rem;
	transition: .5s;
}
.mycards h1
{
	font-size: 2rem;
}
	.mycards .card ,.mycards img
{
	border-radius: 20px;
}
.mycards .card:hover 
{
	box-shadow: 4px 4px 3px 3px #04275e;
	transition: .6s;
	background-color: #1a9ec9;
}
.mycards .col:hover 
{
	margin: 2px 0px 2px 0px;
	padding: 2px 0px 2px 0px;
	transition: .6s;
}
.mycards ul
{
	list-style: none;
	padding-left: 1.5rem;
}

.mycards li:hover
{
	font-size: 1.2rem;
	transition: .5s;
}
.mycards li i
{
	font-size: 1.5rem;
	margin: 2px;
	padding: 3px;
	color: green;
}

.mycards h3:hover ,.mycards h5:hover
{
	background-color: blue;
	border-radius: 30px;
	padding: 10px 30px;
	transition: 1.1s;
	color: #fff;
}
.mycards  .mytitle i
{
	font-size: 4rem;
	color: black;
}
.mycards  .mytitle i:hover
{
	font-size: 5rem;
	transition: .5s;
	color: #fff;
}
.mycards .fa-inr
{
	margin: 2px;
	padding: 2px;
	font-size: 1.8rem;
}
.mycards .fa-inr:hover
{
	font-size: 1.8rem;
}
.myfooter .container ul , .myfooter2 ul
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.myfooter .container ul li
{
	list-style: none;
	margin-left: 20px;
	font-size: 2.5rem;
	padding: 10px;
}
.myfooter2 ul li
{
	list-style: none;
	margin-left: 20px;
	font-size: 1.1rem;
	padding: 10px;
}
.bg
{
	background-color:skyblue;
}
.myfooter2 ul li a
{
	color: black;
	text-decoration-line: none;
}
.myfooter .container ul li:nth-child(1) a
{
	color:#3B5998;
}
.myfooter .container ul li:nth-child(2) a
{
	color:  #f40083;
}
.myfooter .container ul li:nth-child(3) a
{
	color:#007bb5;
}

.myfooter .container ul li:nth-child(4) a
{
	color: black;
}

.fa:hover {
    opacity: 0.9;
    font-size: 2.8rem;
}
.btn2
{
	font-size: 1rem;
	text-transform: capitalize;
	transition: .5s;
}
.btn2:hover
{
	background-color: #1f66b8;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 30px;
	padding: 5px 30px;
}
.myfooter .container address
{
	font-size: 1.2rem;
}
.myfooter .container address:hover
{
	font-size: 1.5rem;
	color: #093375;
	transition: .5s;
}
.myfooter .container h2:hover
{
	font-size: 2.6rem;
	color: #093375;
	transition: .5s;
	cursor: pointer;
}
/*myicons*/
.myicons .row .col .card
{
	border:1px solid black;
	animation-name:wap;
	animation-duration:5s;
	background-color:#fff;
	animation-iteration-count:infinite;

}


@keyframes wap
{
	0%{background:#32a891;}
	25%{background:#0e8ee3;}
	50%{background:#0b6dde;}
	75%{background:#0a47a3;}
	100%{background:#1a9ec9;}
}

.myicons .row .col img
{
	/*width: 10vw;*/
	height: 10vh;
}
.myicons .row .col img:hover
{
	border-radius: 15px;
	transition: .1s;
}
.myicons .row .col .card:hover
{
	background-color: #1273b8;
	color: #fff;
	padding: 5px;
	transition: .3s;
	border-radius: 50px;
	/*transform: rotate(-7deg);*/	
}

@media(max-width:1100px)
{
	body
	{
		/*background-color: pink;*/
	}
	.mycards ul
	{
		list-style: none;
		padding-left: 5px;
	}
	.mycards li
	{
		font-size: .9rem;
	}

	.mycards li:hover
	{
		font-size: 1.1rem;
		transition: .5s;
	}
}
@media(max-width:990px)
{
	body
	{
		/*background-color: red;*/
	}
	.navbar a img
	{
		width:20vw; 
		padding: 20px 5px;
	}
	.navbar .collapse a
	{
		font-size: 1.5rem;
		margin: 2px 0px;
	}
	.navbar .collapse a:hover
	{ 
		padding: 7px 12px;
	}	
	.main h1
	{
		font-size: 3rem;
	}
	.main h1:hover 
	{
		font-size:5rem;
	}
	.main h5:hover
	{
		font-size: 2rem;
	}
	.mycards ul
	{
		list-style: none;
		padding-left: 1.2rem;
	}
	#baricon
	{
		font-size: 1.7rem;
	}
	
	.myheading span
	{
	 font-size: 1.5rem;
	 font-weight: 700;
	 padding: 20px 50px;
	}
	.myheading span:hover 
	{
		padding: 20px 100px;
		transition: .5s;
		font-size: 1.8rem;
		font-weight: 800;
	}
	.myheading h4:hover,.myheading h5:hover,.myheading h3:hover
	{
		font-size: 2rem;
		transition: .5s;
	}

	.myicons .row .col img
	{
		/*width: 10vw;*/
		height: 10vh;
		width: 50%;
	}
	.myicons .row .col
	{
		margin: 0 auto;
	}
	.mycards ul
	{
		padding-left:0;
	}
	.mycards .card-body
	{
		padding:10px;
	}

}

@media(max-width:530px)
{
	body
	{
		/*background-color: yellow;*/
	}
	.navbar a img
	{
		width:40vw; 
		padding: 0px 0px;
	}
	.myfooter2 ul li
	{
		/*border: 2px solid red;*/
		padding: 0px ;
		margin: 2px;
	}
	.btn2:hover
	{
		
		font-size: 1.2rem;
		padding: 5px 20px;
	}
	.myheading span
	{
		font-size: 1rem;
	}
	.myheading span:hover 
	{
		padding: 20px 70px;
		transition: .5s;
		font-size: 1.4rem;
		font-weight: 800;
	}
	.myheading .ourachivements
	{
		padding: 20px 30px;
		font-size: 1rem;
	}
	.myheading .ourachivements:hover
	{
		padding: 22px 40px;
		font-size: 1.3rem;
	}
	.myheading h4:hover, .myheading h5:hover, .myheading h3:hover
	{
	font-size: 1.7rem;
	transition: .5s;
	}
	#carouselExampleIndicators
	{
		height: 60vh;
	}
	#carouselExampleIndicators img
	{
		height: 60vh;
	}
	#baricon
	{
		font-size: 1.3rem;
	}
	.main h1:hover 
	{
		font-size: 3.5rem;
		color: red;
	}
	.main h5:hover
	{
		font-size:1.7rem;
	}
	.myicons .row .col .card-body
	{
		margin: 0;
		padding: 0;
	}
	.myicons .row .col img
	{
		width: 9vw;
		height: 8vh;
		margin: 0;
		padding: 0;
	}
	.mycards li:hover
	{
		font-size: 1.2rem;
	}
	.mycards li i
	{
		font-size: 1.3rem;
		margin: 2px;
		padding: 3px;
	}
	.mycards ul
	{
		list-style: none;
		padding-left:5px;
	}
}