.navbar .collapse a
{
	color: #fff;
	padding: 2px 5px;
}

#baricon
{
	font-size: 2rem;
}
.navbar a img
{
	width:16vw; 
	padding: 20px 5px;
}

.navbar .collapse a:hover
{
	color:#fff;
	background:#093375; 
	padding: 5px 10px;
	transition: .8s;
	border-radius: 20px;
}
.navbar-brand2
{
	font-size: 2.4rem;
	font-family:sans-serif;
}
.main h1
{
	font-size: 5rem;
}
.main h1:hover 
{
	font-size: 7rem;
	color: #093375;
	transition: 1s;
}
.main h5:hover
{
	font-size: 2rem;
	color: #093375;
	transition: 1s;
}
.reg
{
	/*background-color:#093375;*/
	background-color: #1f66b8;
	font-size: 1.4rem;
	border-radius: 30px;
	padding: 2px 50px;
}
#carouselExampleIndicators
{
	height: 80vh;
	border-radius: 30px;
}
#carouselExampleIndicators img
{
	height: 80vh;
	border-radius: 30px;
}

.myheading span
{
	 font-family: 'Quicksand', sans-serif; 
	 text-align:center;
	 background:#093375;
	 font-size: 2rem;
	 font-weight: 700;
	 color: #fff;
	 padding: 20px 50px;
	 border-radius: 40px;
}
.myheading span:hover 
{
	padding: 20px 100px;
	transition: .5s;
	font-size: 2.5rem;
	font-weight: 800;
}
.myheading h4:hover,h5:hover,h3:hover
{
	font-size: 2rem;
	transition: .5s;
}
.mycards h1
{
	font-size: 2rem;
}
.mycards .card ,.mycards img
{
	border-radius: 20px;
}
.mycards .card:hover 
{
	box-shadow: 4px 4px 3px 3px #04275e;
	transition: .6s;
}
.mycards .col:hover 
{
	margin: 2px 0px 2px 0px;
	padding: 2px 0px 2px 0px;
	transition: .6s;
}

.myfooter .container ul , .myfooter2 ul
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.myfooter .container ul li
{
	list-style: none;
	margin-left: 20px;
	font-size: 2.5rem;
	padding: 10px;
}
.myfooter2 ul li
{
	list-style: none;
	margin-left: 20px;
	font-size: 1.1rem;
	padding: 10px;
}
.bg
{
	background-color:#b9bffa;
}
.myfooter2 ul li a
{
	color: black;
	text-decoration-line: none;
}
.myfooter .container ul li:nth-child(1) a
{
	color:#3B5998;
}
.myfooter .container ul li:nth-child(2) a
{
	color:  #f40083;
}
.myfooter .container ul li:nth-child(3) a
{
	color:#007bb5;
}

.myfooter .container ul li:nth-child(4) a
{
	color: black;
}

.fa:hover {
    opacity: 0.9;
    font-size: 2.8rem;
}
.btn2
{
	font-size: 1rem;
	text-transform: capitalize;
	transition: .5s;
}
.btn2:hover
{
	background-color: #1f66b8;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 30px;
	padding: 5px 30px;
}
.myfooter .container address
{
	font-size: 1.2rem;
}
.myfooter .container address:hover
{
	font-size: 1.5rem;
	color: #093375;
	transition: .5s;
}
.myfooter .container h2:hover
{
	font-size: 2.6rem;
	color: #093375;
	transition: .5s;
	cursor: pointer;
}


@media(max-width:990px)
{
	body
	{
		/*background-color: red;*/
	}
	.navbar a img
	{
		width:20vw; 
		padding: 20px 5px;
	}
	.navbar .collapse a
	{
		font-size: 1.5rem;
		margin: 2px 0px;
	}
	.navbar .collapse a:hover
	{ 
		padding: 7px 12px;
	}	
	.main h1
	{
		font-size: 3rem;
	}
	.main h1:hover 
	{
		font-size:5rem;
	}
	.main h5:hover
	{
		font-size: 2rem;
	}
	#baricon
	{
		font-size: 1.7rem;
	}
	
	.myheading span
{
	 
	
	 font-size: 1.5rem;
	 font-weight: 700;
	 padding: 20px 50px;
}
.myheading span:hover 
	{
		padding: 20px 100px;
		transition: .5s;
		font-size: 1.8rem;
		font-weight: 800;
	}
.myheading h4:hover,h5:hover,h3:hover
{
	font-size: 2rem;
	transition: .5s;
}
}

@media(max-width:530px)
{
	body
	{
		/*background-color: yellow;*/
	}
	.navbar a img
	{
		width:40vw; 
		padding: 0px 0px;
	}
	.myfooter2 ul li
	{
		/*border: 2px solid red;*/
		padding: 0px ;
		margin: 2px;
	}
	.btn2:hover
	{
		
		font-size: 1.2rem;
		padding: 5px 20px;
	}
	.myheading span
	{
		font-size: 1rem;
	}
	.myheading span:hover 
	{
		padding: 20px 70px;
		transition: .5s;
		font-size: 1.4rem;
		font-weight: 800;
	}
	.myheading .ourachivements
	{
		padding: 20px 30px;
		font-size: 1rem;
	}
	.myheading .ourachivements:hover
	{
		padding: 22px 40px;
		font-size: 1.3rem;
	}
	.myheading h4:hover,h5:hover,h3:hover
	{
	font-size: 1.7rem;
	transition: .5s;
	}
	#carouselExampleIndicators
	{
		height: 60vh;
	}
	#carouselExampleIndicators img
	{
		height: 60vh;
	}
	#baricon
	{
		font-size: 1.3rem;
	}
	.main h1:hover 
	{
		font-size: 4rem;
	}
	.main h5:hover
	{
		font-size:1.7rem;
	}
}
